In [2]:
#python notebook file which will contain data stratification and similar operations

In [10]:
import pandas as pd

/var/folders/d3/5_l3h7cd1c98_xcdw8_wgkbh0000gn/T/ipykernel_27051/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
import os

# Set the desired working directory
new_dir = '/Users/cemakkus/PycharmProjects/Master'

# Change the current working directory
os.chdir(new_dir)

In [15]:
file_path = 'YUKKA_export_STOXX_50.csv'

df = pd.read_csv(file_path)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73950 entries, 0 to 73949
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  73950 non-null  object
 1   company               73950 non-null  object
 2   ISIN                  68034 non-null  object
 3   positive              73950 non-null  float64
 4   negative              73950 non-null  float64
 5   sentiment             73950 non-null  float64
 6   volume                73950 non-null  int64
 7   esg_score             73754 non-null  float64
 8   e_score               73754 non-null  float64
 9   s_score               73754 non-null  float64
 10  g_score               73754 non-null  float64
 11  general_risk_score    73754 non-null  float64
 12  esg_risk_score        73754 non-null  float64
 13  credit_risk_score     73754 non-null  float64
 14  immediate_risk_score  73754 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 8.5+ MB

In [17]:
df.describe()

,positive,negative,sentiment,volume,esg_score,e_score,s_score,g_score,general_risk_score,esg_risk_score,credit_risk_score,immediate_risk_score
count,73950.000000,73950.000000,73950.000000,73950.000000,73754.000000,73754.000000,73754.000000,73754.000000,73754.000000,73754.000000,73754.000000,73754.000000
mean,149.729790,61.768154,0.732814,337.815808,4.837507,6.338077,4.592493,3.681499,6.912950,5.423169,4.831943,4.917236
std,262.363639,166.484842,0.190348,541.836531,2.742907,1.760275,1.517366,1.141220,2.049765,2.464851,4.210548,2.623233
min,0.000000,0.000000,0.011696,0.000000,0.006551,0.098066,0.006124,0.052361,0.000000,0.000000,0.000000,0.000000
25%,13.000000,2.000000,0.620049,35.000000,2.306369,5.418949,3.668641,2.944069,5.854468,3.713991,0.000000,2.918279
50%,49.000000,11.000000,0.777778,120.000000,4.869575,6.350326,4.871922,3.879866,7.379637,5.730232,7.214796,5.238293
75%,162.000000,41.000000,0.885714,405.000000,7.260046,7.459477,5.521731,4.680064,8.471881,7.363149,8.763414,6.995208
max,4095.000000,5826.000000,0.998158,12316.000000,9.958893,9.963494,9.616326,8.937651,9.990225,9.990109,9.990043,9.989505