In [2]:
#python notebook file which will contain data stratification and similar operations

In [20]:
#!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.35-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in ./masterenv/lib/python3.9/site-packages (from yfinance) (2.2.0)
Requirement already satisfied: numpy>=1.16.5 in ./masterenv/lib/python3.9/site-packages (from yfinance) (1.26.3)
Collecting requests>=2.31 (from yfinance)
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting lxml>=4.9.1 (from yfinance)
  Downloading lxml-5.1.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata (3.5 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: pytz>=2022.5 in ./masterenv/lib/python3.9/site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.0-cp39-cp39-macosx_10_9_x86_64.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 2.8 MB/s eta 0:00:0000:0100:01m
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting beautifulsoup4>=4.11.1 (from yfinance)
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 2.0 MB/s eta 0:00:00-:--:--
Collecting soupsieve>1.2 (from beautifulsoup4>=4.11.1->yfinance)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: six>=1.9 in ./masterenv/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Collecting webencodings (from html5lib>=1.1->yfinance)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./masterenv/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in ./masterenv/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2023.4)
Collecting charset-normalizer<4,>=2 (from requests>=2.31->yfinance)
  Downloading charset_normalizer-3.3.2-cp39-cp39-macosx_10_9_x86_64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests>=2.31->yfinance)
  Downloading idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.31->yfinance)
  Downloading urllib3-2.1.0-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests>=2.31->yfinance)
  Downloading certifi-2023.11.17-py3-none-any.whl.metadata (2.2 kB)
Downloading yfinance-0.2.35-py2.py3-none-any.whl (72 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.2/72.2 kB 6.8 MB/s eta 0:00:00
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.9/147.9 kB 12.3 MB/s eta 0:00:00
Downloading frozendict-2.4.0-cp39-cp39-macosx_10_9_x86_64.whl (37 kB)
Downloading lxml-5.1.0-cp39-cp39-macosx_10_9_x86_64.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 4.1 MB/s eta 0:00:0000:0100:01m
Downloading requests-2.31.0-py3-none-any.whl (62 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.6/62.6 kB 2.2 MB/s eta 0:00:00
Downloading certifi-2023.11.17-py3-none-any.whl (162 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.5/162.5 kB 2.9 MB/s eta 0:00:00a 0:00:01
Downloading charset_normalizer-3.3.2-cp39-cp39-macosx_10_9_x86_64.whl (122 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 122.5/122.5 kB 2.8 MB/s eta 0:00:00a 0:00:01
Downloading idna-3.6-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.6/61.6 kB 3.0 MB/s eta 0:00:00
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Downloading urllib3-2.1.0-py3-none-any.whl (104 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 104.6/104.6 kB 3.0 MB/s eta 0:00:00
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.0-cp39-cp39-macosx_10_9_x86_64.whl size=251734 sha256=def58b62c9a15957025b131d02086c9a31f92a3b70cb7edcf755d4ed888cedec
  Stored in directory: /Users/cemakkus/Library/Caches/pip/wheels/77/6b/dc/722aee2a5d46a021ab67564c9d3d5536c3bd9577fcdc3a5aeb
Successfully built peewee
Installing collected packages: webencodings, peewee, multitasking, appdirs, urllib3, soupsieve, lxml, idna, html5lib, frozendict, charset-normalizer, certifi, requests, beautifulsoup4, yfinance
Successfully installed appdirs-1.4.4 beautifulsoup4-4.12.3 certifi-2023.11.17 charset-normalizer-3.3.2 frozendict-2.4.0 html5lib-1.1 idna-3.6 lxml-5.1.0 multitasking-0.0.11 peewee-3.17.0 requests-2.31.0 soupsieve-2.5 urllib3-2.1.0 webencodings-0.5.1 yfinance-0.2.35

In [30]:
import pandas as pd
import yfinance as yf

In [31]:
import os

# Set the desired working directory
new_dir = '/Users/cemakkus/PycharmProjects/Master'

# Change the current working directory
os.chdir(new_dir)

In [32]:
file_path = 'YUKKA_export_STOXX_50.csv'

news_data = pd.read_csv(file_path)

In [33]:
news_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73950 entries, 0 to 73949
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  73950 non-null  object
 1   company               73950 non-null  object
 2   ISIN                  68034 non-null  object
 3   positive              73950 non-null  float64
 4   negative              73950 non-null  float64
 5   sentiment             73950 non-null  float64
 6   volume                73950 non-null  int64
 7   esg_score             73754 non-null  float64
 8   e_score               73754 non-null  float64
 9   s_score               73754 non-null  float64
 10  g_score               73754 non-null  float64
 11  general_risk_score    73754 non-null  float64
 12  esg_risk_score        73754 non-null  float64
 13  credit_risk_score     73754 non-null  float64
 14  immediate_risk_score  73754 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 8.5+ MB

In [34]:
news_data.describe()

,positive,negative,sentiment,volume,esg_score,e_score,s_score,g_score,general_risk_score,esg_risk_score,credit_risk_score,immediate_risk_score
count,73950.000000,73950.000000,73950.000000,73950.000000,73754.000000,73754.000000,73754.000000,73754.000000,73754.000000,73754.000000,73754.000000,73754.000000
mean,149.729790,61.768154,0.732814,337.815808,4.837507,6.338077,4.592493,3.681499,6.912950,5.423169,4.831943,4.917236
std,262.363639,166.484842,0.190348,541.836531,2.742907,1.760275,1.517366,1.141220,2.049765,2.464851,4.210548,2.623233
min,0.000000,0.000000,0.011696,0.000000,0.006551,0.098066,0.006124,0.052361,0.000000,0.000000,0.000000,0.000000
25%,13.000000,2.000000,0.620049,35.000000,2.306369,5.418949,3.668641,2.944069,5.854468,3.713991,0.000000,2.918279
50%,49.000000,11.000000,0.777778,120.000000,4.869575,6.350326,4.871922,3.879866,7.379637,5.730232,7.214796,5.238293
75%,162.000000,41.000000,0.885714,405.000000,7.260046,7.459477,5.521731,4.680064,8.471881,7.363149,8.763414,6.995208
max,4095.000000,5826.000000,0.998158,12316.000000,9.958893,9.963494,9.616326,8.937651,9.990225,9.990109,9.990043,9.989505

In [35]:
news_data.head()

,date,company,ISIN,positive,negative,sentiment,volume,esg_score,e_score,s_score,g_score,general_risk_score,esg_risk_score,credit_risk_score,immediate_risk_score
0,2020-01-01,company:adidas,DE000A1EWWW0,74.0,14.0,0.833333,154,2.143314,5.855780,6.188625,2.268089,8.563762,7.322443,0.0,7.627780
1,2020-01-02,company:adidas,DE000A1EWWW0,170.0,27.0,0.859296,285,2.200230,5.824604,6.146141,2.326606,8.495006,7.207579,0.0,7.543789
2,2020-01-03,company:adidas,DE000A1EWWW0,181.0,33.0,0.842593,344,2.140666,5.872963,6.200355,2.261408,8.575119,7.341766,0.0,7.636399
3,2020-01-04,company:adidas,DE000A1EWWW0,50.0,9.0,0.836066,100,2.142008,5.874547,6.206004,2.260589,8.579196,7.346457,0.0,7.638169
4,2020-01-05,company:adidas,DE000A1EWWW0,61.0,16.0,0.784810,105,2.158942,5.866310,6.196989,2.278841,8.562564,7.320154,0.0,7.616569

In [23]:
ticker = 'ADS.DE'

In [24]:
data = yf.download(ticker, start="2022-01-01", end="2022-12-31")

/Users/cemakkus/PycharmProjects/Master/masterenv/lib/python3.9/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [25]:
print(data.head())

                  Open        High         Low       Close   Adj Close  Volume
Date
2022-01-03  254.350006  260.149994  253.949997  259.100006  253.297180  488053
2022-01-04  259.750000  262.899994  258.049988  258.500000  252.710602  463148
2022-01-05  260.000000  263.750000  259.450012  260.850006  255.007980  427520
2022-01-06  257.149994  257.799988  251.100006  252.750000  247.089386  613520
2022-01-07  252.500000  252.699997  245.600006  247.449997  241.908081  664124

In [28]:
if isinstance(data, pd.DataFrame):
    print("The variable 'data' is a DataFrame.")

The variable 'data' is a DataFrame.

In [29]:
if isinstance(data, pd.DataFrame):
    num_rows, num_cols = data.shape
    print(f"The variable 'data' is a DataFrame with {num_rows} rows and {num_cols} columns.")

The variable 'data' is a DataFrame with 257 rows and 6 columns.

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 257 entries, 2022-01-03 to 2022-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       257 non-null    float64
 1   High       257 non-null    float64
 2   Low        257 non-null    float64
 3   Close      257 non-null    float64
 4   Adj Close  257 non-null    float64
 5   Volume     257 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 14.1 KB

In [37]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,257.000000,257.000000,257.000000,257.000000,257.000000,2.570000e+02
mean,171.958716,174.764825,169.202918,171.846732,169.700758,7.464726e+05
std,43.441016,43.624929,43.022856,43.081069,41.267566,4.751758e+05
min,95.989998,96.769997,93.400002,93.949997,93.556526,0.000000e+00
25%,130.000000,132.679993,127.839996,130.100006,129.555130,5.191370e+05
50%,170.419998,173.360001,168.619995,170.919998,169.646515,6.486490e+05
75%,205.000000,208.050003,200.500000,204.000000,199.431198,8.704120e+05
max,260.000000,263.750000,259.450012,260.850006,255.007980,4.104049e+06

In [38]:
data.head()

                  Open        High         Low       Close   Adj Close  Volume
Date
2022-01-03  254.350006  260.149994  253.949997  259.100006  253.297180  488053
2022-01-04  259.750000  262.899994  258.049988  258.500000  252.710602  463148
2022-01-05  260.000000  263.750000  259.450012  260.850006  255.007980  427520
2022-01-06  257.149994  257.799988  251.100006  252.750000  247.089386  613520
2022-01-07  252.500000  252.699997  245.600006  247.449997  241.908081  664124